/*Added by Ram Prasad*/
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.dcrlogo{
	width: 80px;
	margin-top: -3px;
}
.frontpic{
	width: 100%;
}
.navbar{
	opacity: .69;
}
.navbar:hover{
	opacity: 1;
}
.navbar-inverse li a:link, .navbar-inverse li a:visited{
	color: white;
}
.dropdown-menu li a:link, .dropdown-menu li a:visited{
	color: black;
}
#about-dcr-strip{
	position: absolute;
	top: 13%;
	right: 0;
	padding: 50px;
	background-color: #222;
	opacity: .5;
	color: #f8f8f8;
	font-size: 23px;
	text-align: center;
	border-radius: 25px 0px 0px 25px;
	font-family: "Comic Sans MS";
	font-style: italic;
}
@media screen and (max-width: 760px) { 
    #about-dcr-strip { 
    	font-size: 13px;
    	padding: 20px;
    	top: 25%;
		border-radius: 15px 0px 0px 15px;
    }
    #about-dcr-strip h1{ font-size: 20px; }
}
.div1, .div2{
	padding: 60px 40px 70px 40px;
	font-size: 16px;
	overflow-x: auto;
}
.div1, #timetable th{
	background-color: #222;
	color: white;
}
.div2{
	background-color: #f8f8f8;
	color: #222;
}
.div1 img, .div2 img{
	width: 200px;
	height: 200px;
	display: block;
    margin: 0 auto;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.div2 a{
	color: black;
	font-style: italic;
}
.div1 a{
	color: white;
	font-style: italic;
}
#notification a{
	color: green;
}
.heading{
	text-align: center;
	padding-bottom: 20px;
}
.fixed{
	position: fixed;
}
.footer{
	padding: 40px;
	text-align: center;
}
.footer .row{
	text-align: left;
	line-height: 37px;
}
.footer .row h4{
	padding: 10px 0px ;
	border-bottom: 1px dashed;
	margin-bottom: 20px;
}
#navbar-extra{
	display: none;
}
#disclaimer{
	font-size: 13px;
	line-height: 18px;
	text-align: justify;
}
.subtopics{
	display:none;
	font-size: 13px;
	margin: 15px -20px 15px;
}
.completed{
	color: #c1fcc1;
}

ul {list-style-type: disc;}

#syllabus img, #notes img, #ebooks img, #videos img, #questionpapers img, #quicklinks img, #bagpack img{
	width: 100px;
	height: 100px;
	padding: 25px;
	border-radius: 0;
	box-shadow: none;
	display: block;
    margin: 0 auto;
}
#bagpack img{
	width: 200px;
	height: 200px;
}
#bagpack{
	text-align: center;
}
#syllabus img:hover, #notes img:hover, #ebooks img:hover, #videos img:hover, #questionpapers img:hover, #quicklinks img:hover{
	width: 102px;
	height: 102px;
}
.stuff-title{
	font-weight: bold;
	text-align: center;
}
.stuff-title:hover{
	font-size: 17px;
}
.contact img, .icon img{
	width: 25px;
	height: 25px;
	border-radius: 0;
	box-shadow: none;
	padding: 2px;
	margin-right: 10px;
	display: inline-block;
}
.extrastuff{
	margin-top: 20px;
	display: none;
}
.viewmore{
	text-align: right;
}

/*Photo Gallery*/
.gallery-pic{
	display: inline-flex;
}
.gallery-pic img{
	width: 260px;
	height: 260px;
	border-radius: 15px;
	border-style: solid;
	display: inline-block;
	border-width:1px;
	margin: 20px 20px 20px 10px;
}
.gallery-pic img:hover{
	width: 270px;
	height: 270px;
	margin: 10px 10px 10px 10px;
}
@media screen and (max-width: 990px) { 
	.gallery-pic img{ width: 200px; height: 200px; }
	.gallery-pic img:hover{ width: 210px; height: 210px; margin: 10px 10px 10px 10px; }
}
/*.caption{
	position: relative;
	bottom: 0px;
	background-color: black;
	opacity: .5;
	color: white;
	display: none;
	border-radius: 10%;
	word-wrap: break-word;
	white-space: pre-wrap;
	padding: 5px;
	max-height: 270px;
	font-size: 13px;
	max-width: 80%;
}*/
button{
	text-align: center;
	padding: 10px;
	background-color: transparent;
	display: block;
    margin: 0 auto;
}
hr{
	border: px solid;
	margin: 40px 0px;
}
pre{
	padding: 25px;
	white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
#follow-us{
	width: 130%;
	height: 100%;
	border-radius: 0;
	display: block;
    margin: 0 auto;
    margin-top: 10px;
} @media screen and (max-width: 990px) { #follow-us{ width: 30%; } }

/* Table CSS */
table, th, td {
   	border: 3px solid black;
   	border-collapse: collapse; 
	margin-left: 3px;
	margin-right: 3px;
	font-size: 13px;
}
th, td {
   	padding: 8px 2px 8px 2px;
   	text-align: center;
   	/*width: auto;*/
}
tr:nth-child(even){background-color: #f2f2f2;}

.commingsoon{
	text-align: center;
	font-size: 25px;
	color: grey;
}
.part-col-3{
	-webkit-columns: 3; /* Chrome, Safari, Opera */ 
    -moz-columns: 3; /* Firefox */
    columns: 3;
} @media screen and (max-width: 990px) { .part-col-3{-webkit-columns: 2;  -moz-columns: 2; columns: 2; } }

#notification li {
	margin-bottom: 10px;
}
/*ScrollBar*/
div::-webkit-scrollbar {
    height: 9px;
} 
div::-webkit-scrollbar-track {
    background-color: transparent;
}
div::-webkit-scrollbar-thumb {
    border-radius: 16px 16px;
	border: 1px solid;
}
div::-webkit-scrollbar-button {
    display: none;
}
/*Add your content here*/
